html{
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 100px;
}

/*========
Hero Section
==========*/
.flexbox {
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f245d4;
	width: 100%;
	background-image: url('http://45.media.tumblr.com/506b5a47bea446270e3b79dba366e28f/tumblr_o1cthloCVl1sq5viio1_400.gif');
}


#pizzaHead {
	color: #ffffff;
	font-size: 40pt;
	border: 4px solid white;
	padding: 10px;
	font-family: 'Palanquin', sans-serif;
}


/*===========
Order Form
============*/
.flexPizza {
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

#pizzaBorder {
	border: 3px solid black;
	margin-top: 340px;
	margin-bottom: 2%;
	padding-bottom: 80px;
	padding-right: 140px;
	padding-left: 140px;
	padding-top: 2%;
	-webkit-box-shadow: 10px 10px 5px -4px rgba(238,238,238,1);
	-moz-box-shadow: 10px 10px 5px -4px rgba(238,238,238,1);
	box-shadow: 10px 10px 5px -4px rgba(238,238,238,1);
}

#orderPizza {
	margin-top: 30px;
	width:200px;
}


.btn-submit {
	background-color: #f24fd1; 
	color: #ffffff;
	outline: none;
	border: 0;
	padding: 8px;
	border-radius: 2px;
	margin-top: 40px;
}

.btn-submit:hover{

}

.btn-submit:active{
	color: black;
}

/*========
Receipt Section
==========*/
#confirmation{
	width: 475px;
	margin-top: -700px;
}
#results{
	display: none;
	
	padding-bottom: 40px;
	margin-bottom: -350px;
}

.resultsBorder {
	border: 3px solid black;
	-webkit-box-shadow: 10px 10px 5px -4px rgba(238,238,238,1);
	-moz-box-shadow: 10px 10px 5px -4px rgba(238,238,238,1);
	box-shadow: 10px 10px 5px -4px rgba(238,238,238,1);
}	
.resultsWithMap {
	max-height: 250px;
	margin-bottom: 550px;
	padding-top: 40px;
    padding-bottom: 40px;
}
#receipt {
	font-family: 'Pragati Narrow', sans-serif;
	font-size: 16pt;
}

hr#hr-receipt{
	width: 80px;
}

.btn-refresh {
	background-color: #f24fd1; 
	color: #ffffff;
	outline: none;
	border: 0;
	padding: 8px;
	border-radius: 2px;
	margin-top: 40px;
	display:none;
}

.hideme {
	margin-top: -550px;
	display: none;
}

/*==========
Location
============*/
#flexboxMap {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

}
#map { 
	height: 230px;
    width: 470px;
    top: 220px;
    display: none;
}
/*=========
Footer
===========*/
.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	padding-top: 40px;

}

#footBg{
	background-color: purple;
	width: 100%;
}
.footer-text {
	padding-top: 20px;
	color: white;
}
.footer-text a {
	color: white;
	text-decoration: underline;
}

#heart {
	color: red;
}

